certifi==2024.12.14
charset-normalizer==3.4.1
docopt==0.6.2
idna==3.10
msgpack==1.1.0
packaging==24.2
pillow==11.1.0
pipreqs==0.4.13
python-can==4.5.0
requests==2.32.3
ttkbootstrap==1.10.1
typing_extensions==4.12.2
urllib3==2.3.0
wrapt==1.17.2
yarg==0.1.10
